.video-block {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 874px;
    margin-top: 26.57px;

    .text-container {
        margin-left: 28px;
        .title {
            margin-bottom: 1.57px;
        }
        .text {
            font-weight: 400;
            font-size: 19.8px;
            line-height: 23.56px;
            letter-spacing: 0%;
        }
    }
}

@media (max-width:1920px) {
    .video-block .text-container {
        margin-left: clamp(10px, 2vw, 28px);
    }
}

@media (max-width:527px) {
    .video-block .text-container .text {
        br {
            display: none;
        }
    }
}